*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.movies{
    display: flex;
    flex-wrap: wrap;
}

.App{
    padding: 1.5rem;
    background-color: rgb(50, 50, 103);
}

.search_nav{
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.title{
    padding-right: 3rem;
}
.title h1{
    color: wheat;
}

.searchbox input{
    border: 0;
    outline: 0;
    margin-right: 0.3rem;
    padding: 0.1rem;
    border-radius: 1rem;
    }


.searchbox button{
    border: 0;
    outline: 0;
    background-color: whitesmoke;
    padding: 0.1rem;
    border-radius: 1rem;
    cursor: pointer;
}